[Unit]
Description=COBOL Web Server
After=network.target

[Service]
ExecStart=/usr/local/bin/cobweb
WorkingDirectory=/var/www/html
StandardOutput=journal
StandardError=journal
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
